<!DOCTYPE html>
<html  xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="css/formstyle.css">    
    <title>Formulário</title>
</head>
<body>
  <div class="form">
    <form method="post" action="praiaSalvar" enctype="multipart/form-data" accept-charset="UTF-8"><br>
    <input type="hidden" name="id" th:value="${praia?.id}">
      <h1>Cadastro de Praia</h1><br>
      <h2>Cadastro</h2><br><br>
      <label>Nome:</label>
      <input type="text" size="30" name="nome" th:value="${praia?.nome}" required>
      <label>Descrição:</label>
      <input type="text" id="descricao" name="descricao" th:value="${praia?.descricao}"><br><br>
      <label>Eventos:</label>
      <input type="text" size="25" name="atracoes" th:value="${praia?.atracoes}">
      <label>Tipo de Praia:</label>
        <select name="tipo" class="select">
        <option selected="selected" disabled="disabled">Selecione</option>
        <option th:each="g: ${tipos}" th:text="${g.nome}" th:value="${g.id}" th:selected="${g.id == praia?.tipo?.id}">
		</select><br><br>
      <h2>Endereço</h2>
      <label>CEP:</label>
        <input id="cep" type="text" name="cep" size="25"  th:value="${praia?.cep}">
      <label>Estado:</label>
        <input id="estado" type="text" name="estado" size="25" th:value="${praia?.estado}"><br><br>
        <label >Cidade:</label>
        <input id="cidade" type="text" name="cidade" size="25" th:value="${praia?.cidade}">
        <label>Bairro:</label>
        <input id="bairro" type="text" name="bairro" th:value="${praia?.bairro}"><br><br>
        <label>Rua:</label>
        <input type="text" size="30" name="endereco" th:value="${praia?.endereco}">
        <label>Número:</label>
        <input id="numero" type="text" size="5" name="numero" th:value="${praia?.numero}"><br><br>
        <label>Complemento:</label>
        <input type="text" size="60" name="complemento" th:value="${praia?.complemento}"><br><br>
      <label>
        <input type="checkbox" name="guardaSol" th:checked="${praia?.guardaSol}"/>
        <span>Guarda-sol</span>
      </label>
      <label>
        <input type="checkbox" name="quiosque" th:checked="${praia?.quiosque}">
        <span>Quiosque</span>
      </label><br><br>
      <div class="input-field col s12">
        <label>Insira uma Imagem</label>
        <input type="file" name="fileFotos" multiple accept="image/*"><br><br>
        </div>
        <input type="hidden" th:value="${praia?.fotos}" name="fotos">
        <div th:if="${praia?.fotos?.length > 0}">
        	<h6>Fotos cadastradas</h6>
        	<div>
        		<ul>
        			<li th:each="foto, k : ${praia?.verFotos()}">
        				<a th:href="${foto}" target="blank "><img th:src="${foto}"></a>
        				<a th:href="@{excluirFotoPraia(idPraia=${praia.id}, numFoto = ${k.index})}">
        					<i class="material-icons">delete_forever</i>
        				</a>
        			</li>
        		</ul>
        	</div>
        </div>
        <input type="submit" value="Enviar">
      </form>
    </div>
    <script src="/js/script.js"></script>
    </body>
</html>