<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/estilo.css">
	<link rel="stylesheet" href="/css/cabecalho.css">
<meta charset="UTF-8">
<title>Tipos de Praia</title>
</head>
<body>
<header th:replace="fragments/padrao :: cabecalho"></header>
	<div class="container">
		<h1>Cadastro Tipos de Praias</h1>
		<div class="row">
			<form class="col s12" action="salvarPraia" method="post">
				<input type="hidden" name="id" th:value="${beach?.id}">
				<div class="row">
					<div class="input-field col s12">
						<input id="nomePraia" type="text" class="validate" name="nome" th:value="${beach?.nome}" > 
						<label for="nomePraia">Tipo de Praia</label>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<input id="descricao" type="text" class="validate" name="descricao" th:value="${beach?.descricao}" 
					> <label for="descricao">Descrição</label>
			</div>



			<div class="input-field col s6">
				<input id="palavraChave" type="text" class="validate" name="palavrasChave" th:value="${beach?.palavrasChave}">
				<label for="palavraChave">Palavra Chave</label>
			</div>
		</div>

		<button class="btn waves-effect waves-light" type="submit"
			name="salvar">Salvar</button>
		</form>
		<br>
		<br>
		<div th:replace="fragments/mensagem">
		</div>
	</div>
	<footer th:replace="fragments/padrao :: rodape"></footer>
</body>
</html>