footer {
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
}
.page-footer{
	background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}
.container{
	color: black;
}
