<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="estilo.css">
<title>Cadastro De Administrador</title>
</head>
<body>
	<div class="container">
		<h1>Cadastro de Administrador</h1>
		<div class="row">
			<form class="col s12" action="salvarAdministrador" method="post">
			<input type="hidden" name="id" th:value="${admin?.id}">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix" style="color: blue">account_circle</i> <input
							id="first_name" type="text" class="validate" name="nome" th:value="${admin?.nome}">
						<label for="first_name">Nome</label>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
			<i class="material-icons prefix" style="color: blue">markunread</i>
				<input id="email" type="email" class="validate" name="email" th:value="${admin?.email}">
				<label for="email">Email</label>
			</div>



			<div class="input-field col s6">
				<i class="material-icons prefix"style="color: blue">lock_outline</i> <input
					id="password" type="password" class="validate" name="senha" th:value="${admin?.senha}">
				<label for="password">Senha</label>
			</div>
		</div>

		<button class="btn waves-effect waves-light" type="submit"
			name="salvar">Salvar</button>
		</form>
		<br>
		<br>
		
		<div th:replace="fragments/mensagem">
		</div>
		
	</div>
</body>
</html>